.question_wrapper {
	z-index: 1;
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto 0 auto;
	padding: 0px;
	background-color: #fffdf7;
	min-height: 85.75vh;
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(255,255,255, 0.5), rgba(0,0,0, 0.1) );
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.question_wrapper > * {
	/* animation: fade_in .2s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom .3s ease-in-out 1; */
}

.question_wrapper_header {
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(255,255,255, 0.5), rgba(0,0,0, 0.1) );
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .4s ease-in-out 1, blur_in .2s ease-in-out 1;
	z-index:8;
}

.question_wrapper_header > * {
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0px auto;
}

.question_wrapper_header h2 {
	font: 400 20pt 'Lato', sans-serif;
}

.question_wrapper_header h3 {
	font: 300 20pt 'Lato', sans-serif;
}

.question_wrapper_header h4 {
	font: 300 15pt 'Lato', sans-serif;
}

.question_wrapper_header h5 {
	font: 300 10pt 'Lato', sans-serif;
}

.next_question_button {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	-webkit-appearance: none;
    text-rendering: auto;
	color: #FFF;
	background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
	text-decoration: none;
    align-items: flex-start;
    cursor: pointer;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 5px 0px 5px 0px;
    font: 400 15px Roboto;
    padding: 15px 30px 15px 30px;
	border: 0px solid;
	animation: fade_in .2s ease-in-out 1, blur_in .2s ease-in-out 1;
}

.next_question_button:hover {
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_in .1s ease-in-out 1;
}

.next_question_button:active {
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}
