
/* WHITE: rgba(255, 255, 255, 1)
LIGHT ORANGE: rgba(244, 166, 66, 1)
DARK ORANGE: rgba(211, 143, 57, 1)
LIGHT BLUE: rgba(0, 0, 102, 1)
DARK BLUE: rgba(0, 0, 51, 1)
LIGHT GREY: rgba(102, 102, 102, 1)
DARK GREY: rgba(51, 51, 51, 1)

OFF WHITE: #fffdf7
OFF GREY: rgba(247,239,244, 1)

DARK_TEXT: rgb(40, 44, 52, 1)

DEFAULT GRADIENT: background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52) );

OFF GREY GRADIENT: background-image: linear-gradient(rgba(255, 255, 255, 1),  rgba(247,239,244, 1) );

CONFIRM: background-image: linear-gradient(rgb(0, 153, 51, 1),  rgba(0, 128, 43, 1) );
CONFIRM_ACTIVE: background-image: linear-gradient(rgb(0, 102, 34, 1),  rgb(0, 77, 26, 1) );

CANCEL: background-image: linear-gradient(rgb(204, 0, 0, 1),  rgb(153, 0, 0, 1) );
CANCEL_ACTIVE: background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );

CHECKMARK ✓ ✔
XMARK ✗ ✘
TRADEMARK ™ ℠ ® © */

/* .container {
	display: flex; /* or inline-flex */
/*	flex-direction: row | row-reverse | column | column-reverse;
	flex-wrap: nowrap | wrap | wrap-reverse;
	justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
	align-items: stretch | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe;
	align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;
} */

/* .item {
	align-self: auto | flex-start | flex-end | center | baseline | stretch;
	order: <integer>; /* default is 0 */
/*	flex-grow: <number>; /* default 0 */
/*	flex-shrink: <number>; /* default 1 */
/*	flex-basis: <length> | auto; /* default auto */
/* } */

/* .container {
	display: flex;
	flex-direction: ;
	flex-wrap: ;
	justify-content: ;
	align-items: ;
	align-content: ;
} */

/* .item {
	align-self: ;
	order: ;
	flex-grow: ;
	flex-shrink: ;
	flex-basis: ;
} */