.header {
	background-color: rgba(0, 0, 51, 1);
	position: relative;
	top: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	min-height: 57px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.header_left {
	max-width: 50%;
}

.header_right {
	/* min-width: 50%; */

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-end;
	padding-right: 10px;
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.header_greeting {
	font: 300 10pt 'Lato', sans-serif;
	padding: 0px 5px 0px 0px;
	min-width: 110px;
	max-width: 120px;
		/* align-self: flex-end; */
		/* order: 1; */
	animation: fade_in .1s ease-in-out 1, blur_in .05s ease-in-out 1;
}

.header_left a {
	width: 0px;
	height: 0px;
	z-index: -10;
}

.header_left a.active {
	width: 0px;
	height: 0px;
	z-index: -10;
}

.header_left a.hover {
	width: 0px;
	height: 0px;
	z-index: -10;
}

.header_left a img{
	max-width: 100%;
	height: auto;
	/* max-height: 50px; */
	border-radius: 12.5px;
	padding: 4px 10px 0px 10px;
}

.header_left a img:hover{
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5);
	animation: fade_in .1s ease-in-out;
}

.header_left a img:active{
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57) );
	animation: blur_out .1s ease-in-out 1;
}


.default_header_link {
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 102, 1), rgba(0, 0, 51, 1) );
	/* /* width: 150px; */
	min-width: 85px;
	max-width: 85px;
	color: #FFF;
	font: 300 15pt 'Lato', sans-serif;


	padding: 17px 20px 17px 20px;
	text-decoration: none;
	/* box-shadow: 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5); */
}

.default_header_link:hover {
	cursor: pointer;
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}

.default_header_link:active {
	color: #FFF;
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}