.dashboard_wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fffdf7;
	min-height: 75vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.dashboard_greeting {
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.dashboard_greeting h2 {
	padding: 0px;
	margin: 0px;
}

.dashboard_options {
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.dashboard_options ul {
	list-style: none;
	margin: 0;
	padding: 0 2.5px 0 2.5px;
}

.dashboard_info {
	animation: fade_in .4s ease-in-out 1, blur_in .2s ease-in-out 1;
}

.dashboard_info ul {
	list-style: none;
	margin: 0;
	padding: 0 5px 0 5px;
}

.dashboard_votes {
	animation: fade_in .5s ease-in-out 1, blur_in .25s ease-in-out 1;
}

.dashboard_comments {
	animation: fade_in .6s ease-in-out 1, blur_in .3s ease-in-out 1;
}

.sub_h1 {
	font-size: 10pt;
}

.edit_profile_link {
	color: #000;
	text-decoration: none;
}