.log_out_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.log_out_buttons_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}