@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes fade_out {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes blur_in {
	0% {
		filter: blur(10px)
	}
	100% {
		filter: blur(0px)
	}
}

@keyframes blur_out {
	0% {
		filter: blur(0px)
	}
	100% {
		filter: blur(5px)
	}
}

@keyframes scale_in {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}


@keyframes scale_out {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.05);
	}
}

@keyframes slide_in_from_left {
	0% {
		transform: translateX(-250px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes slide_in_from_right {
	0% {
		transform: translateX(250px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes slide_in_from_bottom {
	0% {
		transform: translateY(250px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes slide_in_from_top {
	0% {
		transform: translateY(-250px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes loading_pulse {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1.0;
	}
	60% {
		opacity: 1.0;
	}
	100% {
		opacity: 0;
	}
}


@keyframes black_to_white {
	0% {
		background-color: #000;
	}
	100% {
		background-color: #fff;
	}
}

@keyframes orange_to_white {
	0% {
		background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	}
	100% {
		background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	}
}

@keyframes orange_to_greyblue {
	0% {
		background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	}
	100% {
		background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	}
}

@keyframes white_to_orange {
	0% {
		background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	}
	100% {
		background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	}
}
