
/* LIGHT ORANGE: rgba(244, 166, 66, 1) */
/* DARK ORANGE: rgba(211, 143, 57, 1) */
/* LIGHT BLUE: rgba(0, 0, 102, 1) */
/* DARK BLUE: rgba(0, 0, 51, 1) */
/* LIGHT GREY: rgba(102, 102, 102, 1) */
/* DARK GREY: rgba(51, 51, 51, 1) */

/* DARK_TEXT: rgb(40, 44, 52, 1) */

/* DEFAULT GRADIENT: background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52) ); */

/* CONFIRM: background-image: linear-gradient(rgb(0, 153, 51, 1),  rgb(0, 128, 43, 1) ); */
/* CONFIRM_ACTIVE: background-image: linear-gradient(rgb(0, 102, 34, 1),  rgb(0, 77, 26, 1) ); */

/* CANCEL: background-image: linear-gradient(rgb(204, 0, 0, 1),  rgb(153, 0, 0, 1) ); */
/* CANCEL_ACTIVE: background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) ); */

/* CHECKMARK ✓ ✔ */
/* XMARK ✗ ✘ */
/* TRADEMARK ™ ℠ ® © */