 .edit_profile_wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fffdf7;
	min-height: 70vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.dashboard_wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto 0 auto;
	padding: 0px;
	background-color: #fffdf7;
	min-height: 75vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.dashboard_wrapper ul {
	width: 100%;
	/* background-color: #fff; */
	list-style: none;
	padding: 10px 0px 10px;
	margin: 0px;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom.25s ease-in-out 1;
	/* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25); */
}

.dashboard_wrapper hr {
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom.25s ease-in-out 1;
}

.dashboard_wrapper li {
	/* background-color: #fff; */
	padding: 0px 0px 0px 10px;
	font-size: 10pt;
}

.dashboard_wrapper hr {
	margin: 0px;
	width:100%;
}

.dashboard_greeting {
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom.25s ease-in-out 1;
}

.dashboard_tabs {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.dashboard_tabs ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	list-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_top.25s ease-in-out 1;
}

.dashboard_tabs li {
	text-align: center;
	font-size: 12pt;
	cursor: pointer;
	padding: 15px 30px 15px 30px;
	margin: 0px;
	flex-grow: 1;
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.dashboard_tabs li:hover {
	color: #FFF;
	background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}

.dashboard_tabs li:active {
	color:rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}

.dashboard_wrapper h3 {
	text-align: center;
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	padding: 10px;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.dashboard_options {
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.dashboard_options ul {
	list-style: none;
	margin: 0;
	padding: 0 2.5px 0 2.5px;
}

.dashboard_info {
	animation: fade_in .4s ease-in-out 1, blur_in .2s ease-in-out 1;
}

.dashboard_info ul {
	list-style: none;
	margin: 0;
	padding: 0 5px 0 5px;
}

.dashboard_buttons_container {
	padding: 0px 0px 0px 10px;
	margin: 0 auto 0 auto;
}