.answers_wrapper {
	padding-bottom: 50px;
}

.answers_header {
	text-align: center;
	width: 100%;
	padding: 15px 0px 5px 0px;
	animation: fade_in .4s ease-in-out 1, blur_in .2s ease-in-out 1;
	z-index:8;
}

.answers_header h3 {
	font: 300 15pt 'Lato', sans-serif;
}

.answer_card {
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255,255,255, 1), rgba(0,0,0, 0.025) );
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.answer_card > * {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.answer_card ul {
	min-width: 100px;
	max-width: 300px;
	width: 100%;
	list-style: none;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.answer_card li {
	text-align: center;
	font: 300 12pt 'Lato', sans-serif;
}

.answer_card h4 {
	font: 400 8pt 'Lato', sans-serif;
}

.answer_card_header_correct {
	width: 100%;
	background-color: rgba(0, 128, 43, 0.5);
	background-image: linear-gradient(45deg, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 1) );
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .4s ease-in-out 1, blur_in .2s ease-in-out 1;
}

.answer_card_header_correct > * {
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}

.answer_card_header_correct h3 {
	height: 100%;
	background-color: rgba(255,255,255, 0.1);
	background-image: linear-gradient(45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 1), rgba(255,255,255, 0.1) );
	font: 400 10pt 'Lato', sans-serif;
}

.answer_card_header_incorrect {
	width: 100%;
	background-color: rgb(153, 0, 0, 0.5);
	background-image: linear-gradient(45deg, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 1) );
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.answer_card_header_incorrect > * {
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}

.answer_card_header_incorrect h3 {
	height: 100%;
	background-color: rgba(255,255,255, 0.1);
	background-image: linear-gradient(45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 1), rgba(255,255,255, 0.1) );
	font: 400 10pt 'Lato', sans-serif;
}