.vote_wrapper {
	padding-bottom: 20px;
}

.vote_card {
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255,255,255, 1), rgba(0,0,0, 0.025) );
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 0px 0px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.vote_card > * {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.vote_card_header {
	width: 100%;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.vote_card_header > * {
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}

.vote_card_header_upvote {
	width: 100%;
	background-color: rgba(0, 128, 43, 0.5);
	background-image: linear-gradient(45deg, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 1) );
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.vote_card_header_upvote > * {
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}

.vote_card_header_downvote {
	width: 100%;
	background-color: rgb(153, 0, 0, 0.5);
	background-image: linear-gradient(45deg, rgba(255,255,255, 0), rgba(255,255,255, 1), rgba(255,255,255, 1) );
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.vote_card_header_downvote > * {
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}

.vote_card h3 {
	height: 100%;
    background-color: rgba(255,255,255, 0.1);
    background-image: linear-gradient(45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 1), rgba(255,255,255, 0.1) );
    font: 400 10pt 'Lato', sans-serif;
}

.vote_card h4 {
	margin-top: 10px;
    margin-block-end: 0px;
	font: 400 8pt 'Lato', sans-serif;
}

.vote_card h5 {
	font: 400 8pt 'Lato', sans-serif;
}

.vote_card ul {
	width: 100%;
	list-style: none;
    padding: 0px 0px 10px 0px !important;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
}

.vote_card li {
	max-width:75px;
	min-width:100px;
	text-align: center;
	font: 300 12pt 'Lato', sans-serif;
}

.vote_card span {
	text-align: center;
	font: 300 12pt 'Lato', sans-serif;
}
