.comment_wrapper {
	padding-bottom: 20px;
}

.comment_card {
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255,255,255, 1), rgba(0,0,0, 0.025) );
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.comment_card_header {
	width: 100%;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
}

.comment_card_header > * {
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px auto 0px auto;
}

.comment_card h3 {
	height: 100%;
	background-color: rgba(255,255,255, 1);
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255,255,255, 1), rgba(0,0,0, 0.025) );
    font: 400 10pt 'Lato', sans-serif;
}

.comment_card h4 {
	margin-top: 5px;
	margin-bottom: 2.5px;
	font: 400 8pt 'Lato', sans-serif;
}

.comment_card p {
	text-align: center;
	font: 400 9pt 'Helvetica', sans-serif;
	width: 100%;
}