 .edit_profile_wrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fffdf7;
	min-height: 70vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}