
.header {
	background-image: radial-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	position: relative;
	/* font-size: 15pt; */
	top: 0px;
	/* padding: 12px; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.header_left {
	/* background-color: #000; */
	/* width: 200px;
	min-width: 200px;
	max-width: 200px; */
	/* animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1; */
}

.header_right {
	padding-right: 10px;
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.header_greeting {
	font-size: 10pt;
	font-family: Lato;
	padding: 0px 10px 0px 0px;
	animation: fade_in .1s ease-in-out 1, blur_in .05s ease-in-out 1;
}

.home_link {
	/* width: 200px;
	min-width: 200px;
	max-width: 200px; */
	/* color: #FFF;
	font-size: 12pt;
	padding: 12px;
	text-decoration: none; */
	/* background-image: url(../assets/header_logo.png); */
	/* background-repeat:no-repeat;
	background-size: cover; */
	/* box-shadow: 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5); */
}

.header_left a {
	width: 0px;
	height: 0px;
	z-index: -10;
	/* width: 0px;
	min-width: 200px;
	max-width: 100%;
	height: 0px;
	color: #FFF; */
	/* background-image: url(../assets/header_logo.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover; */
	/* background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) ); */
	/* transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out; */
} 

.header_left a.active {
	width: 0px;
	height: 0px;
	z-index: -10;
	/* width: 200px;
	min-width: 200px;
	max-width: 100%;
	height: auto;
	color: #FFF; */
	/* background-image: url(../assets/header_logo.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover; */
	/* background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) ); */
	/* transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out; */
} 

.header_left a.hover {
	width: 0px;
	height: 0px;
	z-index: -10;
	/* width: 200px;
	min-width: 200px;
	max-width: 100%;
	height: auto;
	color: #FFF; */
	/* background-image: url(../assets/header_logo.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover; */
	/* background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) ); */
	/* transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out; */
} 

.header_left a img{
	max-width: 100%;
	height: auto;
	max-height: 50px;
	border-radius: 12.5px;
	padding: 4px 10px 0px 10px;
	/* width: 200px;
	min-width: 200px;
	max-width: 200px;
	color: #FFF;
	font-size: 12pt;
	padding: 12px;
	text-decoration: none;
	background-image: url(../assets/header_logo.png);
	background-repeat:no-repeat;
	background-size: cover;
	box-shadow: 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5); */
}

.header_left a img:hover{
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5);
	animation: fade_in .1s ease-in-out;
}

.header_left a img:active{
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57) );
	animation: blur_out .1s ease-in-out 1;
}


.default_header_link {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	color: #FFF;
	font-size: 12pt;
	padding: 18px 7.5px 18px 7.5px;
	text-decoration: none;
	box-shadow: 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5);
}

.default_header_link:hover {
	cursor: pointer;
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}

.default_header_link:active {
	color: #FFF;
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}