
.header {
	background-image: radial-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	position: relative;
	/* font-size: 15pt; */
	top: 0px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	color: white;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.header_left {
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.header_right {
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.header_greeting {
	font-size: 10pt;
	font-family: Lato;
	padding: 0px 10px 0px 0px;
	animation: fade_in .1s ease-in-out 1, blur_in .05s ease-in-out 1;
}

.default_header_link {
	color: #FFF;
	font-size: 12pt;
	padding: 12px;
	text-decoration: none;
	box-shadow: 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5), 0 0 1.25px 0 rgba(0, 0, 0, 0.5);
}

.default_header_link:hover {
	cursor: pointer;
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}

.default_header_link:active {
	color: #FFF;
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .2s, .2s;
	transition-timing-function: ease-in-out;
}