.logo_container {
	width: 75%;
	margin: 30px auto 30px auto;
	animation: fade_in .1s ease-in-out 1, blur_in .2s ease-in-out 1, slide_in_from_top .3s ease-in-out 1;

}

.logo_container img{
	max-width: 100%;
	height: auto;
}

.play_buttons_container {
	width: 75%;
	min-width: 75%;
	max-width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .1s ease-in-out 1, blur_in .2s ease-in-out 1, slide_in_from_bottom .3s ease-in-out 1;
}

.quick_play_container {
	width: 75%;
	min-width: 75%;
	max-width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.other_play_container {
	width: 75%;
	min-width: 75%;
	max-width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.log_in_sign_up_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px auto 30px auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
	border-radius: 50px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
