.log_in_form {
	margin: 10px auto 0 auto;
	text-align: center;
}

.log_in_form input[type="password" i], .log_in_form input[type="text" i] {
	width: 100%;
	background: #FFF;
	border: 0px;
	padding: 2.5px;
	margin: 2.5px 0 2.5px 0;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 0px 0px;
}

.log_in_centered_buttons_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 10px auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.login div {

}

.login_div select {

}
