.question_wrapper {
	z-index: 1;
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* justify-content: center; */
	/* align-items: flex-start; */
	margin: 0 auto 0 auto;
	padding: 0px;
	background-color: #fffdf7;
	min-height: 90vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in 1s ease-in-out 1, blur_in 1s ease-in-out 1;
}

.question_wrapper:after {
	height: 150px;
	content: "";
	display: block;
  }

.question_wrapper h3 {
	text-align: center;
	padding: 10px;
	margin: 0px;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom .25s ease-in-out 1;
}

.question_card {
	text-align: center;
	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(255,253,247, 1) );
	padding: 0px;
	margin: 0px;
	font-size: 20pt;
}

.question_header {
	margin: 10px;
}

.question_desc {
	margin: 10px;
}

.question_desc h2 {
	text-align: center;
	font-size: 20px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding: 10px;
	margin: 0px;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom .25s ease-in-out 1;
}

.question_choices {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto 0 auto;
}

.question_choices button {
	animation: fade_in .2s ease-in-out 1, blur_in .2s ease-in-out 1;
}

.question_correct_answer {
	margin: 0px 10px 20px 10px;
	animation: fade_in .5s ease-in-out 1, blur_in .5s ease-in-out 1, slide_in_from_bottom .5s ease-in-out 1;
}

.question_correct_answer h3 {
    font-size: 20pt;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: 300;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom .25s ease-in-out 1;
}

.question_correct_answer p {
    font-size: 15pt;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
    font-weight: 300;
	animation: fade_in .5s ease-in-out 1, blur_in .5s ease-in-out 1, slide_in_from_bottom .5s ease-in-out 1;
}

.question_difficulty {
	margin: 0px 10px 20px 10px;
	animation: fade_in .5s ease-in-out 1, blur_in .5s ease-in-out 1, slide_in_from_bottom .5s ease-in-out 1;
}

.question_difficulty h3 {
    font-size: 15pt;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: 300;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom .25s ease-in-out 1;
}

.question_difficulty p {
    font-size: 10pt;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
    font-weight: 300;
	animation: fade_in .5s ease-in-out 1, blur_in .5s ease-in-out 1, slide_in_from_bottom .5s ease-in-out 1;
}

.question_time {
	margin: 10px;
	animation: fade_in 1.5s ease-in-out 1, blur_in 1.5s ease-in-out 1, slide_in_from_bottom 1.5s ease-in-out 1;
}

.question_vote {
	display: column;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
}

.question_vote button {
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1;
}

.question_vote h3 {
    font-size: 15pt;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: 300;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom .25s ease-in-out 1;
}

.question_vote ul {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto 0 auto;
	list-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
	animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1;
}

.question_vote li {
	/* width: 20%;
	min-width: 20%;
	max-width: 20%; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	font-size: 12pt;
	padding: 10px 20px 10px 20px;
	margin: 0px;
}

.up_vote_button {
	/* width: 20%;
	min-width: 20%;
	max-width: 20%; */
	align-items: flex-start;
	color: rgb(255, 255, 255, 1);
	background-image: linear-gradient(rgb(0, 153, 51, 1),  rgb(0, 128, 43, 1) );
	background-color: buttonface;
	border: 0px solid;
	border-radius: 20px 0px 0px 20px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: 400 15px Roboto;
	letter-spacing: normal;
	margin: 5px 0px 5px 0px;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
	-webkit-appearance: none;
	/* -webkit-writing-mode: horizontal-tb !important; */
}

.up_vote_button img{
	max-width: 100%;
	height: auto;
	max-height: 25px;
}

.up_vote_button:hover {
	color: rgb(255, 245, 204, 1);
	background-image: linear-gradient(rgb(0, 102, 34, 1),  rgb(0, 77, 26, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_in .1s ease-in-out 1;
}

.up_vote_button:active {
	background-image: linear-gradient(rgb(0, 102, 34, 1),  rgb(0, 77, 26, 1) );
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}

.no_vote_button {
	align-items: flex-start;
	color: rgb(255, 255, 255, 1);
	background-image: linear-gradient(rgb(128, 128, 128, 1),  rgb(89, 89, 89, 1) );
	background-color: buttonface;
	border: 0px solid;
	border-radius: 0px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: 400 15px Roboto;
	letter-spacing: normal;
	margin: 5px 0px 5px 0px;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
	-webkit-appearance: none;
}

.no_vote_button img{
	max-width: 100%;
	height: auto;
	max-height: 25px;
}

.no_vote_button:hover {
	color: rgb(255, 245, 204, 1);
	background-image: linear-gradient(rgb(64, 64, 64, 1),  rgb(0, 0, 0, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_in .1s ease-in-out 1;
}

.no_vote_button:active {
	background-image: linear-gradient(rgb(64, 64, 64, 1),  rgb(0, 0, 0, 1) );
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}

.down_vote_button {
	align-items: flex-start;
	color: rgb(255, 255, 255, 1);
	background-image: linear-gradient(rgb(204, 0, 0, 1),  rgb(153, 0, 0, 1) );
	background-color: buttonface;
	border: 0px solid;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: 400 15px Roboto;
	letter-spacing: normal;
	margin: 5px 0px 5px 0px;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
	-webkit-appearance: none;
}

.down_vote_button img{
	max-width: 100%;
	height: auto;
	max-height: 25px;
}

.down_vote_button:hover {
	color: rgb(255, 245, 204, 1);
	background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_in .1s ease-in-out 1;
}

.down_vote_button:active {
	background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}

.question_card {
	width: 80%;
	min-width: 80%;
	max-width: 80%;
	margin: 0px auto 0px auto;

}

.question_comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	align-content: flex-start;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;

}

.question_comment_list {
	/* background-color: #000; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	 flex-wrap: nowrap;
	align-content: flex-start;
	align-items: baseline;
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	margin: 0 auto 0 auto;
	padding: 0px;
}

.question_comment_list ul {
	background-color: #FFF;
	list-style: none;
	text-align: left;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 100px;
	padding-bottom:10px;
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	padding-inline-start: 0px;
	background-image: linear-gradient(rgba(255, 255, 255, 1),  rgba(rgb(242, 242, 242), 1) );
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.question_comment_list li {
	/* background-color: #666; */
	padding-left:5px;

	font-size: 10pt;
}

.question_comment_list li p{
	/* background-color: #FFF; */
	padding: 2.5px 10px 0px -2.5px;
	/* padding-left:10px; */
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 12pt;
}

.comment_div {
	width: 100%;

}

.comment_form {
	width:100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.comment_form textarea {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	/*padding: 5px; */
	margin: 0 auto 0 auto;

	border: 1px solid rgb(175, 175, 175, 1);
}

.comment_button_container {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.comment_button {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	align-items: flex-start;
	color: #FFF;
	/* border-radius: 0px 0px 20px 20px; */
	background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	background-color: buttonface;
	border: 0px solid;
	/* border-radius: 0px 0px 20px 20px; */
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: 400 15px Roboto;
	letter-spacing: normal;
	margin: 5px 0px 5px 0px;
	padding: 15px 30px 15px 30px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
	-webkit-appearance: none;
	/* -webkit-writing-mode: horizontal-tb !important; */
}

.comment_button:hover {
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_in .1s ease-in-out 1;
}

.comment_button:active {
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}

.question_next_question_button_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 30px auto 0 auto;
}

.next_question_button {
	width: 60%;
	min-width: 60%;
	max-width: 60%;
	-webkit-appearance: none;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
	color: #FFF;
	/* border-radius: 0px 0px 20px 20px; */
	background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
	text-decoration: none;
    align-items: flex-start;
    cursor: pointer;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 5px 0px 5px 0px;
    font: 400 15px Roboto;
    padding: 15px 30px 15px 30px;
	border: 0px solid;
	animation: fade_in .2s ease-in-out 1, blur_in .2s ease-in-out 1;


}

.next_question_button:hover {
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_in .1s ease-in-out 1;
}

.next_question_button:active {
	color: rgb(40, 44, 52, 1);
	background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	transition-property: color;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
	animation: scale_out .1s ease-in-out 1, blur_out .1s ease-in-out 1;
}
