@media only screen and (max-width: 1450px) {

	.backroom_wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: flex-start;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		/* min-height: 70vh; */
		background-color: #fffdf7;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	}

	.main_window {
		width: 100%;
		background-color: #fffdf7;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		flex-grow: 2;
		/* min-height: 70vh; */
		box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	}

	.RTV_main_window {
		width: 100%;
		background-color: #fffdf7;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		flex-grow: 2;
		min-height: 70vh;
		box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	}

	.side_window {
		width: 100%;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.side_bar ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-start;
		align-content: flex-start;
	}

	.side_bar li {
		align-self: center;
		width:25%;
		font-size: 12pt;
	}

	.default_button {
		font-size: 10pt;
		margin: 5px;
		padding: 5px;
	}

	.DBedit_main_window {
		background-color: #dbdbdb;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		flex-grow: 2;
		box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	}

	.DBedit_main_window h3 {
		text-align: center;
		background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 2.5px 0 rgba(0, 0, 0, 0.25);
	}


}

@media only screen and (max-width: 750px) {

	.default_wrapper{
		min-height: 75vh;
	}

	.RTV_main_window{
		min-height: 75vh;
	}

	.main_window {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 2;
		z-index: 1;
		min-height: 70vh;
	}

	.default_header_link {
		color: #FFF;
		font-size: 10pt;
		padding: 20px 10px 12px 10px;
		text-decoration: none;
		line-height: 1.2;
		box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5), 0 0 2.5px 0 rgba(0, 0, 0, 0.5);
	}

	.side_bar li {
		font-size: 10pt;
		padding-left: 5px;
		padding-right: 5px;
	}

	.DBedit_navbar_item p {
		font-size: 8pt;
		text-align: center;
		padding: 8px;
		margin-block-start: 0rem;
		margin-block-end: 0rem;
	}

	.RTVusers_table th {
		font-size: 10pt;
		padding: 5px;
	}

	.RTVusers_table tr {
		padding: 5px;
	}

	.RTVusers_table td {
		font-size: 8pt;
		padding: 5px;
	}

	.RTVpages_table th {
		font-size: 10pt;
		padding: 5px;
	}

	.RTVpages_table tr {
		padding: 5px;
	}

	.RTVpages_table td {
		font-size: 8pt;
		padding: 5px;
	}

}