@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes fade_out {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes blur_in {
	0% {
		filter: blur(10px)
	}
	100% {
		filter: blur(0px)
	}
}

@keyframes blur_out {
	0% {
		filter: blur(0px)
	}
	100% {
		filter: blur(10px)
	}
}

@keyframes black_to_white {
	0% {
		background-color: #000;
	}
	100% {
		background-color: #fff;
	}
}

@keyframes orange_to_white {
	0% {
		background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	}
	100% {
		background-image: linear-gradient(rgb(255, 255, 255, 1),  rgb(219, 219, 219, 1) );
	}
}

@keyframes orange_to_greyblue {
	0% {
		background-image: linear-gradient(rgb(245, 167, 66, 1),  rgb(212, 144, 57, 1) );
	}
	100% {
		background-image: linear-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	}
}