@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Lato|PT+Sans);
@import url('./animation.css');

.main_wrapper {
	width: 80%;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #fffdf7;
	min-height: 100vh;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
	animation: fade_in .1s ease-in-out 1, blur_in .05s ease-in-out 1;
}

.default_container {
	padding: 5px;
	margin: 5px;
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.default_header {
  	text-align: center;
	font-size: 15pt;
	font-weight: bold;
	margin: 0 auto 0 auto;
	animation: fade_in .1s ease-in-out 1, blur_in .05s ease-in-out 1;
}

.default_link {
	font-family: Lato;
	color: #000;
	text-decoration: none;
	animation: fade_in .2s ease-in-out 1, blur_in .1s ease-in-out 1;
}

.default_link:hover {
	text-shadow: 0 0 2px #000;
	transition-property: text-shadow;
	transition-duration: .1s, .1s;
	transition-timing-function: ease-in-out;
}

.default_button {
	border: none;
	color: #000;
	background: radial-gradient(rgb(250, 250, 250, 1),  rgb(225, 225, 225, 1) );
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	border-radius: 5px;
	margin: 12.5px auto 12.5px auto;
	padding: 5px;
	box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.default_button:hover {
	color: #fff;
	background: radial-gradient(rgba(158, 158, 158, 1), rgba(66, 66, 66, 1));
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);

	transition-property: color, background,border-radius, box-shadow;
	transition-duration: .25s, .25s;
	transition-timing-function: ease-in-out;
}

.default_form {
  	text-align: center;
	margin: 0 auto 0 auto;
	animation: fade_in .3s ease-in-out 1, blur_in .15s ease-in-out 1;
}

.default_form label {
	font-family: Lato;
	animation: fade_in .4s ease-in-out 1, blur_in .2s ease-in-out 1;
}

.default_form input {
	display: block;
	margin: 0 auto 0 auto;
	animation: fade_in .5s ease-in-out 1, blur_in .25s ease-in-out 1;
}