.footer {
	background-image: radial-gradient(rgb(81, 88, 102, 1),  rgb(40, 44, 52, 1) );
	/* position: absolute; */
	font-size: 15pt;
	bottom: 0px;
	padding: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	color: white;
	min-height: 150px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25), 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.footer_left {
	border: 1px solid #000;
}

.footer_right {
	border: 1px solid #000;
}